/* Global
---------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-wrap {
    /* background:red; */
    max-width: 900px;
    width: 85%;
    margin: 0 auto; 
    padding:60px 0;
}

h1 {
    background-color: #E7F2F8;
    padding: 30px;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}