<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="main-content">
            <h1>Project Pickles!!</h1>
            <div id="borders" class="flex-container">
                <aside id="aside-border" class="flex-item" >
                    1
                </aside>
                <main id="main-border" class="flex-item" >
                    2
                </main>
                <div id="empty-border" class="flex-item">
                    3
                </div>
            </div>
            
        </div>

    </body>
</html>
